@import url('"https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap"');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

:root {
    --primary-color: white;
}

body {
    font-family: 'Sansita Swashed', sans-serif;
    background-color: #130f0b;
}

.top {
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    margin-top: 32px;
    list-style-type: none;
}

ul li a {
    color: rgb(255, 145, 0);
    text-decoration: none;
    font-size: 20px;
    padding: 4px 12px;
    margin: 2px 8px;
    transition: all 0.3s;
}
a:hover{
    transform : scale(1.5);
}
#header {
    display: flex;
    margin-top: 30em;
    font-family: 'Sansita Swashed', sans-serif;
    justify-content: center;
}
.headerBar{position:absolute;
    top:0;
    height:70px;
    padding:0 12px;
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    align-items:center;
    background-color:rgba(0,0,0,.5);
    pointer-events:auto}
.headerBarRight{right:0;
    padding-left:20px;
    border-radius:0 0 0 6px}
.imageButton{
    display:inline-block!important;
    width:50px;
    height:56px;
    background-size:contain;
    background-repeat:no-repeat;
    margin-left:4px;
    pointer-events:all;
    cursor:pointer;
    -webkit-transition:all .2s;
    transition:all .2s}
.imageButton:hover{
    -webkit-transform:scale(.95);
    transform:scale(.95)}
.twitterSocial{background-image:url(./img/twitter-normal.png)}
.twitterSocial:hover{background-image:url(./img/twitter-hover.png)}
.twitterSocial:active{background-image:url(./img/twitter-pressed.png)}
#header h1 {
    display: flex;
    font-size: 50px;
}
