* {
    box-sizing: border-box;
}

body {
    background-image: url(img/banner.png);
    background-repeat: no-repeat;
    background-position: top;
    font-family: 'Papyrus';
    color: white;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    overflow-x: hidden;
    display: none;
}

a {
    margin: 0;
}

#window-size-overlay {
    position: fixed;
    background-color: white;
    height: 100%;
    width: 100%;
    display: none;
    justify-content: center;
    color: #000000 !important;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: content-box;
    z-index: 101;
}

#window-size-overlay center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(rgba(4, 1, 1, 1), rgba(4, 1, 1, 0));
    display: flex;
    justify-content: center;
    transition: background-color 0.2s;
    z-index: 100;
}

.header-item {
    width: 50px;
    height: 50px;
    margin-left: 5px;
    margin-right: 5px;
    display: block;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    color: #F2F0F0;
    transition: background-color 0.3s;
}

.header-logo {
    margin-left: 5px;
    margin-right: 5px;
}

.header-item img, .header-logo img {
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.jumpscare {
    display: none;
}

.jumpscare, .jumpscare img {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.main {
    width: 100%;
    height: auto;
    padding: 30px;
}

.card {
    width: 100%;
    min-height: 15vh;
    max-height: 50vh;
    border-radius: 7px;
    background-color: rgba(100, 100, 100, 0.473);
    box-sizing: content-box;
    transition: background-color 0.4s;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.card:hover, .card:focus {
    background-color: rgba(59, 54, 54, 0.400);
}

#card-info {
    display: flex;
    flex-flow: row;
}

#card-info img {
    width: 30%;
    height: auto;
}

#card-discord iframe {
    height: 50vh;
    width: 100%;
}

@media screen and (max-width: 800px) {
    /*#header-container {
        justify-content: center;
    }

    #header-logo, #header-item {
        margin-left: 5px;
        margin-right: 5px;
    }*/
}

@keyframes jumpscareFadeOut {
    0% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }

}

@keyframes cardTransition {
    0% {
        height: 15vh;
    }

    100% {
        height: 50vh;
    }
}

@keyframes logoTransition {
}